.top_img{
    width: 100%;
    height:280px;

    & img{
        object-fit: cover;
        width: 100%;
        height:280px;
    }
}

.title_resto{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 50px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
    top: 270px;
    padding-top: 50px;

    &_text{
        padding-left: 25%;
        width: 80%;
        & h1{
            @include titre_restaurant;
        }
    }

    &_icon{
        width: 20%;
        padding-right: 15%;
    }

    @media (min-width: 768px) and (max-width:1000px){
        &_text{
            padding-left: 10%;
            width: 80%;
            & h1{
                @include titre_restaurant;
            }
        }
    
        &_icon{
            width: 20%;
            padding: 0;
            padding-left: 120px;
        }
    }

    @media (max-width: 768px){
        top: 300px;
        padding-top: 30px;

        &_text{
            padding-left: 20px;
            width: 90%;
            & h1{
                @include titre_restaurant;
            }
        }
    
        &_icon{
            width: 10%;
            margin-bottom: 5px;
            padding-left: 10px;
        }
    }
}

.title_resto_icon .emptyHeart {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
    color: gray;
}

.title_resto_icon .emptyHeart:hover {
    color: transparent;
}

.title_resto_icon .emptyHeart:hover > .fullHeart {
    transform: scale(1);
}

.title_resto_icon .fullHeart {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
    transition: transform 150ms 50ms ease-in-out;
}

.title_resto_icon .emptyHeart {
    margin: auto;
}
