@import "../base/typography";
@import "../utils/variables";

.footer{
    width: auto;
    height: 170px;
    background-color: rgb(39, 39, 39);
    padding-left: 20px;
    padding-top: 20px;

    & img{
        width: 100px;
        height: 20px;
        margin-bottom: 15px;
    }

    &_list{
        width: 100%;
        display: flex;
        flex-direction: column;

        &_doubleText{
            margin-bottom: 10px;
            & span{
                font-size: 0.8em;
                color: white;
                margin-right: 5px;
            }
        }

        & a{
            font-family: $font;
            margin-bottom: 12px;
        }

        @media (min-width:769px){
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }

    @media (min-width:769px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    @media (max-width:768px){

        padding-left: 20px;
        padding-top: 20px;

        & img{
            width: 100px;
            height: 20px;
            margin-bottom: 15px;
        }

        &_list{
            width: 100%;
            display: flex;
            flex-direction: column;

            &_doubleText{
                margin-bottom: 10px;
                & span{
                    font-size: 0.8em;
                    color: white;
                    margin-right: 5px;
                }
            }

            & a{
                font-family: $font;
                margin-bottom: 12px;
            }
        }
    }
    
}

#proposer{
    margin-right: 10px;    
}

.changeColor{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(103%) contrast(102%);
}