.header{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: white;
    filter: drop-shadow(0 0 0.20rem rgb(165, 165, 165));

    &_icon{
        display: none;
    }
    
    @media (max-width: 768px){
        &_logo{
            width: 180px;
            height: 30px;
            margin-top: 22px;
            margin-left: 100px;
    
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}