.menu{
    width: auto;
    height: fit-content;
    position: relative;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    padding-left: 25%;
    padding-top: 20px;
    padding-right: 25%;

    @media (min-width: 769px) and (max-width:1000px){
        margin-top: 20px;
        padding-left: 80px;
        padding-top: 5px;
        padding-right: 80px;
    }

    @media (max-width: 768px){
        margin-top: 35px;
        padding-left: 20px;
        padding-top: 5px;
        padding-right: 20px;
    }
}

.title{
    margin-top: 30px;
    width: 15%;
    height: 30px;

    &_deco{
        margin-top: 5px;
        width: 40%;
        border-bottom: 3px solid;
        color: $color-tertiary;
    }

    @media (max-width: 768px){
        width: 40%;
    }

    @media (min-width: 768px) and (max-width: 1000px){
        width: 20%;
    }
}

.card{
    display: flex;
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: auto;
    height: 50px;
    filter: drop-shadow(0 0 0.50rem rgb(216, 216, 216));
    animation-name: apparition;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal ;
    animation-fill-mode: both;
    
    &:hover{
        & >.card_text{
            width: 65%;
        }
        & >.card_prix{
            margin-left: 340px;
            @media (max-width:768px){
                margin-left: 0px;
                width: 45%;

                & > .card_prix_price{
                    margin-right: -20px;
                    background-color: white;
                    margin-right: 3px;
                }

                & > .card_prix_check{
                    margin-right: -120px;

                    & span{
                        opacity: 0;
                        font-size: 23px;
                    }
                }
                
            }

            @media (min-width:769px) and (max-width:1000px){
                margin-left: 150px;
                width: 45%;

                & > .card_prix_price{
                    margin-right: -20px;
                    background-color: white;
                    margin-right: 3px;
                }

                & > .card_prix_check{
                    margin-right: -120px;

                    & span{
                        opacity: 0;
                        font-size: 23px;
                    }
                }
                
            }

            & > .card_prix_check{
                animation-name: checked;
                animation-duration: 800ms;
                animation-timing-function: linear;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal ;
                animation-fill-mode: both;

                &  span{
                    opacity: 1;
                    animation-name: tourne;
                    animation-duration: 800ms;
                    animation-timing-function: linear;
                    animation-delay: 100ms;
                    animation-iteration-count: 1;
                    animation-direction: normal ;
                    animation-fill-mode: both;
                    transform-origin: center;
                }
            }
        }
    }

    @keyframes checked{
        0%{
            transform: scaleX(0);
        }
        100%{
            transform: scaleX(1);
        }
    }

    @keyframes tourne{
        100%{
            transform: rotate(-360deg);
        }
    }

    @media (max-width:768px){
        padding-left:10px;
        padding-top: 5px;
        padding-bottom: 10px;
        background-color: white;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 15px;    
        width: auto;
        height: 40px;
    }

    &_text{
        display: flex;
        flex-direction: column;
        width: 80%;

        &_title{
            width: 100%;
            margin-bottom: 0;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 40px;

            & p {
                font-size: 17px;
                font-weight: 600;
                margin-top: 3px;
                font-family: $font;
                color: black;
                white-space: nowrap;
                text-overflow: ellipsis; 
                overflow: hidden;
                line-height: 1.2;
                margin-bottom: 5px;
            }
        }

        &_description{
            width: 100%;

            & p{
                font-size: 14px;
                font-family: $font;
                color: grey;
                white-space: nowrap;
                text-overflow: ellipsis; 
                overflow: hidden;
                line-height: 1.2;
            }
           
        }
    }

    /* delay d'affichage des cartes une à une*/
    &--1 {
        animation-delay: 0.2s;
    }
    &--2 {
        animation-delay: 0.4s;
    }
    &--3 {
        animation-delay: 0.6s;
    }
    &--4 {
        animation-delay: 0.8s;
    }

    &_prix{
        width: 20%;
        height: 65px;
        display: flex;
        margin-top: -5px;

        &_price{
            width:50%;
        }

        &_check{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transform: scaleX(0);
            transform-origin: right;

            & span{
                opacity: 0;
                font-size: 25px;
                color: white;
            }
        }

        @media (max-width: 768px){
            height: 55px;
        }
    }
}

.tripleCard{
    width: auto;
    height: auto;
    opacity: 1;
}

@keyframes apparition{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.15;
    }
    100%{
        opacity: 1;
    }
}

.prix{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.commander{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}