@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./base/_typography.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./base/_typography.css";
@import "./base/_typography.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: white;
  filter: drop-shadow(0 0 0.2rem #a5a5a5);
}
.header_icon {
  display: none;
}
@media (max-width: 768px) {
  .header_logo {
    width: 180px;
    height: 30px;
    margin-top: 22px;
    margin-left: 100px;
  }
  .header_logo img {
    width: 100%;
    height: 100%;
  }
}

.localisation {
  background-color: #ebebeb;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .localisation {
    height: 45px;
  }
  .localisation_icon {
    height: 100%;
    margin-top: 23px;
  }
  .localisation_icon span {
    font-size: 1em;
    color: #444444;
  }
  .localisation_text {
    margin-left: 15px;
    margin-top: 30px;
    height: 100%;
  }
}

h4 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #444444;
}

.presentation_btn {
  background-color: #b6b6b6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 210px;
  height: 45px;
  box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}

.btn_commander {
  background-color: #b6b6b6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 180px;
  height: 45px;
  box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}
.btn_commander p {
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
}

/*gradient pour la partie presentation*/
.btn--gradient {
  background: linear-gradient(350deg, #9356DC, #FF79DA);
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
  align-items: center;
}
@media (max-width: 768px) {
  .presentation_titre {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  .presentation_text {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .presentation_btn {
    margin-top: 40px;
    font-family: "Roboto Slab", sans-serif;
    align-items: center;
    justify-content: center;
  }
  .presentation_btn p {
    margin-top: 13px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: 23px;
  color: black;
}

p {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:link {
  color: white;
}
a:hover {
  color: white;
}

.presentation_btn {
  background-color: #b6b6b6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 210px;
  height: 45px;
  box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}

.btn_commander {
  background-color: #b6b6b6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 180px;
  height: 45px;
  box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}
.btn_commander p {
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
}

/*gradient pour la partie presentation*/
.btn--gradient {
  background: linear-gradient(350deg, #9356DC, #FF79DA);
}

/* card tuto*/
.tuto_card {
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.5rem #c7c7c7);
}
.tuto_card_num {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  margin-right: 10px;
}
.tuto_card_num p {
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 7px;
}
.tuto_card_background {
  width: 100%;
  height: 65px;
  display: flex;
  background: #f2f2f2;
  border-radius: 10px;
  margin-left: -20px;
}
.tuto_card_icon {
  padding-top: 22px;
  padding-right: 25px;
  padding-left: 25px;
}
.tuto_card_icon span {
  font-size: 1.2em;
  color: #707070;
}
.tuto_card_text {
  padding-top: 25px;
  padding-right: 28px;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.fonctionnement {
  width: auto;
  height: 370px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
@media (max-width: 768px) {
  .fonctionnement {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: 23px;
  color: black;
}

.tuto_cardList {
  margin-top: 30px;
}

/*filter: drop-shadow(0 0 0.50rem rgb(199, 199, 199));*/
.resto {
  width: auto;
  height: 1220px;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .resto h1 {
    padding-top: 50px;
  }
  .resto_cardList {
    margin-top: 30px;
  }
  .resto_card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.5rem #c7c7c7);
  }
  .resto_card_top {
    width: 100%;
    height: 170px;
  }
  .resto_card_top img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  .resto_card_top_new {
    width: 20%;
    height: 28px;
    border-radius: 3px;
    position: relative;
    bottom: 95%;
    left: 75%;
    background-color: #99E2D0;
  }
  .resto_card_top_new p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #4a8576;
    text-align: center;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .resto_card_bot {
    display: flex;
    height: 80px;
    width: 100%;
  }
  .resto_card_bot_text {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 80%;
    height: 100%;
  }
  .resto_card_bot_text p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
  }
  .resto_card_bot_icon {
    width: 20%;
    height: fit-content;
    margin-top: 20px;
    margin-left: 80px;
  }
  .resto_card_bot_icon span {
    font-size: 1.8em;
    color: #868686;
  }
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: 23px;
  color: black;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.top_img {
  width: 100%;
  height: 280px;
}
.top_img img {
  object-fit: cover;
  width: 100%;
  height: 280px;
}

.title_resto {
  display: flex;
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: absolute;
  top: 290px;
  padding-top: 40px;
}
.title_resto_text {
  padding-left: 20px;
  width: 80%;
}
.title_resto_text h1 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  color: black;
}
.title_resto_icon {
  width: 20%;
  margin-left: 40px;
}
.title_resto_icon span {
  font-size: 1.6em;
}

.menu {
  width: auto;
  height: fit-content;
  position: relative;
  background-color: whitesmoke;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
}

.title {
  margin-top: 30px;
  width: 30%;
  height: 30px;
}
@media (max-width: 768px) {
  .title h3 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 15px;
    color: grey;
    font-weight: lighter;
  }
}
.title_deco {
  margin-top: 5px;
  width: 40%;
  border-bottom: 3px solid;
  color: #99E2D0;
}

.card {
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  width: auto;
  height: 40px;
  filter: drop-shadow(0 0 0.5rem #d8d8d8);
}
.card_text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.card_text_title {
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
}
.card_text_title h2 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif;
  color: black;
}
.card_text_description {
  width: 100%;
  margin-top: -5px;
}
.card_text_description p {
  font-size: 14px;
  font-family: "Roboto Slab", sans-serif;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}
.card_prix {
  width: 15%;
  height: 100%;
}

.prix {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.commander {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer {
  width: auto;
  height: 170px;
  background-color: #272727;
}
@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-top: 20px;
  }
  .footer img {
    width: 100px;
    height: 20px;
    margin-bottom: 15px;
  }
  .footer_list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer_list_doubleText {
    margin-bottom: 10px;
  }
  .footer_list_doubleText span {
    font-size: 0.8em;
    color: white;
    margin-right: 5px;
  }
  .footer_list a {
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 12px;
  }
}

#proposer {
  margin-right: 10px;
}

.changeColor {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(103%) contrast(102%);
}

/*# sourceMappingURL=style.css.map */
