.presentation_btn{
    background-color: rgb(182, 182, 182);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 210px;
    height: 45px;
    box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}

.btn_commander{
    background-color: rgb(182, 182, 182);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 180px;
    height: 45px;
    box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);

    & p{
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
        font-weight: 700;
    }
}
/*gradient pour la partie presentation*/
.btn--gradient{
    background: linear-gradient(350deg, $color-primary, $color-secondary);
}