@import "../base/typography";

@mixin titre {
    font-family: $font;
    font-weight: 800;
    font-size: 23px;
    color: black;
}

@mixin titre_restaurant {
    font-family: $font-restaurant;
    font-size: 26px;
    color: black;
}